* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #666;
  text-align: center;
}

audio {
  width: 450px;
  margin: 10px 0;
}

.container {
  height: 420px;
  /* border: 1px solid white; */
  overflow: hidden;
}

.container ul {
  /* border: 1px solid white; */
  list-style: none;
  transform: 0.6s;
}

.container li {
  height: 30px;
  line-height: 30px;
  transform: 0.2s;
}

.container ul li.active {
  color: #fff;
  transform: scale(1.2);
}
